*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


header{
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
}

section{
    display: flex;
    justify-content: space-evenly;
}


section .forms{
    padding: 20px; /* padding é margem/espaço de dentro do div*/
    margin: 10px; /* margin é a margem/espaço de fora da div*/
    background-color:darkgray;
    border: 1px solid black;
}

section .info{
    display: flex;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

section .info p{
    height: 230px;
    width: 900px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    text-align: justify;
    overflow: hidden;
    justify-content: center;
}
section .info .img{
    display: flex;
    justify-content: center;
    margin: 11px;
}